.diagram {
  width: 80%;
  margin: 20px auto;
  &__top, &__content {
    display: flex;
    justify-content: space-between;
  }

  &__top_buttons {
    display: flex;
    gap: 10px;
  }

  &__content {
    gap: 10px;
    margin-top: 10px;
    &_input {
      min-width: 30%;
      min-height: 300px;
      .ant-input{
        height: 100%;
        margin-bottom: 10px;
      }
    }

    &_diagram {
      min-width: 70%;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
}