.home {
  width: 80%;
  margin: 70px auto 0;
  text-align: center;
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    padding: 10px;
  }

  .graph {
    display: flex;
    gap: 10px;
    padding: 10px 5px;
  }
}